@using System.Activities.Statements
@using Varta_Exercises.Models
@model Tuote
@{ 
    ViewBag.Title = "Varta Exercises";

   


}

<script>
    // Tässä on se input field filter, ei ole nappi vaan kenttä joka suodattaa kirjoitetun tekstin mukaan.

    $(document).ready(
        function () {
            $("#filtteri").on("keyup", function() {
                var arvo = $(this).val().toLocaleLowerCase();
                $("#taulukko1 tr").filter(function() {

                    $(this).toggle($(this).text().toLowerCase().indexOf(arvo) > - 1)

                });

            });


        }
    );
    
    //$(document).ready(

    //    // Tässä haetaan avoimesta rajapinnasta vitsejä taulukkoon.
    //    function () {

    //        var $taulukko = $('#taulukko1');

    //        $.ajax({
    //            type: 'GET',
    //            url: 'https://08ad1pao69.execute-api.us-east-1.amazonaws.com/dev/random_ten',
    //            success: function(jokes) {
    //                //console.log('success', jokes);
    //                $.each(jokes,
    //                    function(i, joke) {
    //                        $taulukko.append('<tr>' + '<th>' + joke.id + '</th>' + '<td>' + joke.type + '</td>' + '<td>' + joke.setup + '</td>' + '<td>' + joke.punchline + '</td>' + '</tr>');

    //                    });
    //            }
    //        });

    //    });


</script>

<div class="row">
    <h1>Tehtävä 6</h1>
    <div class="col-md-6">
        <h3>Lomake</h3>
        @using (Html.BeginForm("Talleta", "Home"))
        {

            <div class="form-group">
                @Html.LabelFor(t => t.Tuotenumero)
                @Html.DisplayTextFor(t => t.Tuotenumero)
             

            </div>
              <div class="form-group">
                @Html.LabelFor(t => t.Nimi)
                @Html.TextBoxFor(t => t.Nimi, new { @class = "form-control" })
             

            </div>
              <div class="form-group">
                @Html.LabelFor(t => t.Hinta)
                @Html.TextBoxFor(t => t.Hinta, new { @class = "form-control" })
             

            </div>   
            
            
            <div class="form-group">
                @Html.LabelFor(t => t.Kategoria)
                @Html.TextBoxFor(t => t.Kategoria, new { @class = "form-control" })
             
            </div> 




            
            <div class="form-group">
                @Html.LabelFor(t => t.Kuvaus)
                @Html.TextAreaFor(t => t.Kuvaus, new { @class = "form-control" })
             

            </div>
             
           @Html.HiddenFor(t => t.Muokattu);
            @Html.HiddenFor(t => t.Tuotenumero);
            


         



            <button type="submit" class="btn btn-primary" value="Talleta">Muokkaa</button>
        }



        @*<form>
            <div class="form-group">
                <label>Etunimi</label>
                <input class="form-control" id="etuNimi">
            </div>
            <div class="form-group">
                <label>Sukunimi</label>
                <input class="form-control" id="sukuNimi">
            </div>
            <div class="form-group">
                <input type="checkbox" id="valinta1"/>
                <label for="valinta1"> Hyväksyn ehdot</label>
            </div>
            <div class="form-group">
                <label>Valintani</label>
                <select class="form-control" id="alasveto1">
                    <option>Juu</option>
                    <option>Kyllä</option>
                    <option>Ei</option>
                    <option>Ehkä</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Lähetä</button>
        </form>*@
    </div>
    <div class="col-md-6">
        <h3>Taulukko</h3>
        <input id="filtteri" type="text" placeholder="Etsi..."/>
        <table class="table table-hover" id="example">
            <thead>
            <tr>
                <th scope="col">Tuotenumero</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Nimi</th>
                <th scope="col">Hinta</th>
                <th scope="col">Kuvaus</th>
                <th scope="col">Muokattu</th>
            </tr>
            </thead>
            <tbody id="taulukko1">
            @foreach (var t in ViewBag.tuotteet)
            {
                <tr>
                    @**<th scope="row">@t.Tuotenumero</th>*@
                    @{
                        var tuotenumero = @t.Tuotenumero.ToString();
                        
                    }
                    
                    <th scope="row">@Html.ActionLink((string)tuotenumero, "Index", "Home", new { id = tuotenumero }, null)</th>
                    <td>@t.Kategoria</td>
                    <td>@t.Nimi</td>
                    <td>@t.Hinta</td>
                    <td>@t.Kuvaus</td>
                    <td>@t.Muokattu</td>



                </tr>



            }
            </tbody>
            
            
            
            

        </table>
    </div>
</div>